{% extends 'managingsystem/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'managingsystem/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="main-content">
        <form method="post" action="{% url 'add_app' %}" id="appliance-form" class="form-section">
            {% csrf_token %}
            <input type="hidden" name="appliance_id" id="appliance-id">
            <h3 id="form-title">Додати прилад</h3>
            <div class="form-group">
                <label for="brand-name">Бренд:</label>
                <input type="text" name="brand_name" id="brand-name" required>
            </div>
            <div class="form-group">
                <label for="product-name">Назва приладу:</label>
                <input type="text" name="product_name" id="product-name" required>
            </div>
            <div class="form-group">
                <label for="status">Статус:</label>
                <select name="status" id="status" required>
                    <option value="Вимкнений">Вимкнений</option>
                    <option value="Ввімкнений">Ввімкнений</option>
                </select>
            </div>
            <div class="form-group">
                <label for="power">Потужність:</label>
                <input type="text" name="power" id="power" required>
            </div>
            <div class="form-buttons">
                <button type="submit" class="btn btn-primary" id="submit-btn">Додати</button>
            </div>
        </form>

        <div class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>Бренд</th>
                        <th>Прилад</th>
                        <th>Потужність</th>
                        <th>Статус</th>
                        <th>Дата</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appliance in appliances %}
                        <tr data-id="{{ appliance.id }}">
                            <td><span class="brand">{{ appliance.brand_name }}</span></td>
                            <td><span class="product">{{ appliance.product_name }}</span></td>
                            <td><span class="power">{{ appliance.power }}</span></td>
                            <td class="status"><span>{{ appliance.status }}</span></td>
                            <td>{{ appliance.date_added|date:"d F Y" }}</td>
                            <td class="appliance-actions table-actions">
                                <button class="btn btn-secondary" onclick="editAppliance({{ appliance.id }})">Змінити</button>
                                <form method="post" action="{% url 'delete_app' appliance.id %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Видалити</button>
                                </form>
                                <form method="post" action="{% url 'toggle_status' appliance.id %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning">

                                        {% if appliance.status == "Ввімкнений" %}
                                            Вимкнути
                                        {% else %}
                                            Увімкнути
                                        {% endif %}

                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

     <script>
        function editAppliance(id) {
            // Отримуємо елемент рядка таблиці
            const row = document.querySelector(`tr[data-id='${id}']`);
            const brand = row.querySelector('.brand').textContent;
            const product = row.querySelector('.product').textContent;
            const power = row.querySelector('.power').textContent;
            const status = row.querySelector('.status').textContent;

            // Заповнюємо форму значеннями
            document.getElementById('brand-name').value = brand;
            document.getElementById('product-name').value = product;
            document.getElementById('power').value = power;
            document.getElementById('status').value = status;
            document.getElementById('appliance-id').value = id;

            // Змінюємо заголовок форми
            document.getElementById('form-title').textContent = 'Змінити прилад';
            // Змінюємо текст кнопки
            document.getElementById('submit-btn').textContent = 'Виконати';

            // Змінюємо action форми
            const form = document.getElementById('appliance-form');
            form.action = `/update_app/${id}/`;
        }


     document.addEventListener("DOMContentLoaded", function() {
        // Всі повідомлення зникнуть через 5 секунд
        setTimeout(function() {
            var messages = document.querySelectorAll('.messages div');
            messages.forEach(function(message) {
                message.style.transition = 'opacity 1s ease-out';
                message.style.opacity = '0';
                setTimeout(function() {
                    message.remove();
                }, 500);
            });
        }, 1500);
    });



    </script>
{% endblock %}
