<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block links %}

    {% endblock%}
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Welcome, <br><span>{{ request.user.username }}</span></h2>
            <ul>
                <li><a href="{% url 'index' %}">Головна</a></li>
                <li><a href="{% url 'add_appliance' %}">Додати прилад</a></li>
                <li><a href="{% url 'power_calculation' %}">Розрахувати потужність</a></li>
            </ul>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="sign-out">Вийти</button>
            </form>
        </div>
    </div>
    {% block body %}

    {% endblock %}
</body>
</html>