{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'managingsystem/css/loginDesign.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    {% if message %}
        <div id="alert-message" class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <div class="container">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="stack-pane">
                <div class="left-form">
                    <label>Система Управління Витратами</label>
                </div>
                <div class="right-form">
                    <label>WELCOME</label>
                    <input type="text" class="textfield" name="username" placeholder="Логін">
                    <input type="password" class="textfield" name="password" placeholder="Пароль">
                    <button class="login-btn">Увійти</button>
                    <div class="register-link">
                        <a href="{% url 'signup' %}">Реєстрація</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

<script>
    // Перевіряємо, чи є повідомлення
    var alertMessage = document.getElementById("alert-message");
    if (alertMessage) {
        // Через 3 секунди (3000 мс) додаємо клас для зникнення
        setTimeout(function() {
            alertMessage.classList.add('fade-out');
        }, 3000);  // 3000 мс = 3 секунди
    }
</script>
</html>
