{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'managingsystem/css/loginDesign.css' %}"> <!-- Підключення CSS-файлу -->
</head>
<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="stack-pane"> <!-- Основний контейнер, який об'єднує ліву та праву частини -->
            <div class="left-form"> <!-- Ліва частина -->
                <label>Система Управління Витратами</label> <!-- Текст у лівій частині -->
            </div>
            <div class="right-form"> <!-- Права частина -->

{#                {% if message %}#}
{#                <div class="error-message">{{ message }}</div>#}
{#                {% endif %}#}

                <label>WELCOME</label> <!-- Привітальний текст -->
                <input type="text" class="textfield" name="username" placeholder="Логін"> <!-- Поле введення для імені користувача -->
                <input type="password" class="textfield" name="password" placeholder="Пароль"> <!-- Поле введення для паролю -->
                <button class="login-btn">Увійти</button> <!-- Кнопка входу -->
                 <div class="register-link">
                    <a href="{% url 'signup' %}">Реєстрація</a> <!-- Посилання для переходу на сторінку реєстрації -->
                </div>
            </div>
        </div>
    </form>
</body>
</html>
