{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{% static 'managingsystem/css/loginDesign.css' %}">
    <link rel="stylesheet" href="{% static 'managingsystem/images/background.jpg' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    {% if message %}
        <div id="alert-message" class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <div class="container">
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <div class="stack-pane"> <!-- Основний контейнер, який об'єднує ліву та праву частини -->
                <div class="left-form"> <!-- Ліва частина -->
                    <label>Система Управління Витратами</label> <!-- Текст у лівій частині -->
                </div>
                <div class="right-form"> <!-- Права частина -->
                    <label>Реєстрація</label> <!-- Привітальний текст -->
                    <input type="text" class="textfield" name="username" placeholder="Логін">
                    <input type="password" class="textfield" name="password" placeholder="Пароль">
                    <input type="password" class="textfield" name="confirmation" placeholder="Підтвердження пароля">
                    <button class="login-btn">Зареєструватися</button> <!-- Кнопка входу -->
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    // Перевіряємо, чи є повідомлення
    var alertMessage = document.getElementById("alert-message");
    if (alertMessage) {
        // Через 3 секунди (3000 мс) додаємо клас для зникнення
        setTimeout(function() {
            alertMessage.classList.add('fade-out');
        }, 3000);  // 3000 мс = 3 секунди
    }
</script>
</html>
